{# Rendered with \Sylius\Bundle\AdminBundle\Twig\Component\Taxon\TreeComponent #}
{{ dump() }}
    <div class="card mb-5">
        <div data-loading>
            <div class="sylius-loader">
                <img src="{{ asset('build/admin/images/loader.svg', 'admin') }}" alt="{{ 'sylius.ui.loading'|trans }}"/>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-body">
                <ul class="list-group">
                    {% for taxon in taxons %}
                        <li class="list-group-item">
                            <a href="{{ path('threebrs_admin_sorting_products', {'taxonId': taxon.id}) }}">
                                {{ taxon.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="d-none" {{ stimulus_target('@sylius/admin-bundle/taxon-tree', 'itemPrototyp') }}>
                <div class="d-flex justify-content-between infinite-tree-item" {{ sylius_test_html_attribute('tree-taxon', '__TAXON_NAME__') }}>
                    <div class="infinite-tree-node">
                        <span class="infinite-tree-toggler" data-infinite-tree-toggler></span>
                        <span class="infinite-tree-toggler infinite-tree-title">__TAXON_NAME__</span>
                    </div>

                    {% hook 'tree' %}

                </div>
            </div>
            <div {{ stimulus_target('@sylius/admin-bundle/taxon-tree', 'tree') }} {{ sylius_test_html_attribute('tree-taxons') }}></div>
        </div>
    </div>
</div>
 