{% import '@SyliusAdmin/shared/helper/breadcrumbs.html.twig' as breadcrumb %}
{% import '@SyliusUi/macro/messages.html.twig' as messages %}

{% if hookable_metadata.context.has('taxon') %}
    {% set taxon = hookable_metadata.context.taxon %}
{% endif %}

{% if hookable_metadata.context.has('productsTaxons') %}
    {% set productsTaxons = hookable_metadata.context.productsTaxons %}
{% endif %} 

<div class="sorting-wrapper">
    <form method="post" action="{{ path('threebrs_admin_sorting_products_save') }}">
        <div class="row mb-4">
            <div class="col-lg-6">

                <p class="text-muted small mb-2">
                    {{ 'threebrs.ui.sortingPlugin.subHeader'|trans }}
                </p>

                {% if taxon is defined%}
                    {% set breadcrumbs = [
                        { name: 'sylius.ui.dashboard'|trans, url: path('sylius_admin_dashboard') },
                        { name : 'threebrs.ui.sortingPlugin.header'|trans, url: path('threebrs_admin_sorting_index') },
                        { name: taxon.name },
                    ] %}
                {% else %}
                    {% set breadcrumbs = [
                        { name: 'sylius.ui.dashboard'|trans, url: path('sylius_admin_dashboard') },
                        { name: 'threebrs.ui.sortingPlugin.header'|trans },
                    ] %}
                {% endif %}

                {{ breadcrumb.breadcrumbs(breadcrumbs) }}
            </div>

            <div class="col d-flex justify-content-end mt-3 mt-lg-0">
                <div class="btn-group">
                    <label for="sort-tree-toggler" class="btn btn-outline-secondary">
                        {{ ux_icon('bi:list-ul') }}
                        {{ 'threebrs.ui.sortingPlugin.toggleTaxons'|trans }}
                    </label>

                    {% set disableButton = taxon is not defined or (taxon is defined and productsTaxons|length == 0) %}
                    <button type="submit"
                        class="btn btn-primary {% if disableButton %}disabled{% endif %}"
                        {% if disableButton %}disabled{% endif %}>
                        {{ ux_icon('bi:check2') }}
                        {{ 'sylius.ui.save_positions'|trans }}
                    </button>
                </div>
            </div>
        </div>

        <div class="sortPage">
            <input type="checkbox" checked class="sortPage-toggler" id="sort-tree-toggler">

            <div class="sortPage-tree">
                {# {{ component('sylius_admin:taxon:tree', {
                    parent: null,
                    template: '@ThreeBRSSyliusSortingPlugin/_taxonTree.html.twig'
                   
                }) }} #}
            </div>

            <div class="sortPage-products sylius-product-index">
                {% if taxon is defined %}
                    {% if productsTaxons|length > 0 %}
                        <div id="sortableProducts" class="row g-3">
                            {% for productTaxon in productsTaxons %}
                                {% set product = productTaxon.product %}
                                <div class="sortableItem col-md-6 col-lg-4">
                                    <div class="card h-100">
                                        <div class="card-body" style="{% if not product.enabled %}opacity: 0.5{% endif %}">
                                            {{ include('@ThreeBRSSyliusSortingPlugin/_mainImage.html.twig') }}
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <p class="card-text mb-1">
                                                <a class="sortableItem-link"
                                                href="{{ path('sylius_admin_product_update', {'id': product.id}) }}"
                                                target="_blank">
                                                    <i class="bi bi-box-arrow-up-right"></i>
                                                </a>
                                                <span class="text-muted small">{{ product.code }}</span>
                                            </p>
                                        </div>
                                        <input type="hidden" name="id[]" value="{{ productTaxon.id }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-info" data-test-sylius-flash-message="alert-info">
                            <div class="fw-bold">Info</div>
                            {{'threebrs.ui.sortingPlugin.noProducts'|trans }}
                        </div>                
                    {% endif %}
                {% else %}
                    <div class="alert alert-info" data-test-sylius-flash-message="alert-info">
                        <div class="fw-bold">Info</div>
                        {{ 'threebrs.ui.sortingPlugin.chooseTaxon'|trans }}
                    </div>                
                {% endif %}
            </div>
        </div>
    </form>
</div>  

